In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

/home/prajwol/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
df = pd.read_csv("training_data.csv")
df.head()

,author,description,label,publishedAt,title
0,Julia Reinstein,"Trust no man, trust no brand. (This post will ...",1,NaN,The Definitive Guide To The Best April Fools’ ...
1,Natalya Lobanova,Not that anyone should need convincing of thei...,1,NaN,Literally Just 19 Pictures That Prove Hedgehog...
2,"Kat Angus, Jane Lytvynenko","You can only have one, eh?",1,NaN,"""Would You Rather"": Canadian Food Vs. Canadian..."
3,Ben Coleman,"""It's gonna rip my eyebrow off!""",1,NaN,"Guys Try The ""Most Painful"" Face Mask"
4,Ellie Bate,"No, your hair colour won't make a difference.",1,NaN,"Which ""Riverdale"" Family Do You Belong In?"

### 0 = Not ClickBait 1 = ClickBait

In [24]:
df.publishedAt.head()

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
Name: publishedAt, dtype: object

In [25]:
df["label"].value_counts()

0    808
1    557
Name: label, dtype: int64

In [28]:
df["author"].isnull().value_counts()

False    907
True     458
Name: author, dtype: int64

In [32]:
df["description"].apply(len).mean()

85.32307692307693

In [33]:
df["description"].apply(len).groupby(df["label"]).mean()

label
0    111.623762
1     47.170557
Name: description, dtype: float64

###dlasjdlajsdljsa

In [34]:
df["Whole"] = df.description + " " + df.title

In [35]:
df.Whole

0       Trust no man, trust no brand. (This post will ...
1       Not that anyone should need convincing of thei...
2       You can only have one, eh? "Would You Rather":...
3       "It's gonna rip my eyebrow off!" Guys Try The ...
4       No, your hair colour won't make a difference. ...
5       These painters get it. 27 Times Art History To...
6       This week: Herb infusers, hands-free umbrellas...
7       Step back in time. Relive The '00s And We'll G...
8       "I have a return, but I don't have the tags or...
9       On the Trans Day of Visibility, we need to tal...
10      See new places. 7 Instagram Accounts That Will...
11      Can you score a perfect 10? Can You Guess Whic...
12      "Holy cow!" This Little Cow Is Best Friends Wi...
13      "I look like a tiger." 19 Terrible, Horrible T...
14      "Hi, nice to meet you, I'm..." Only People Goo...
15      Do you see the animal ghost hovering over this...
16      Here’s what our editors and writers are making...
17      ~Dress to impress~ Pick An Outfit To Reveal Yo...
18      Some of our recent favorites we’ve reviewed in...
19      All those many hours spent on YouTube will fin...
20      Which of Mother Nature's gifts means the most ...
21      Mental note: There's more than one Sydney in t...
22      That one you see on the bus every so often and...
23      Add head to test... XX Ways To Dress Up Your C...
24      Chosen by BuzzFeed readers like YOU. The 17 Be...
25      In living color. 18 Drastic Hair Color Transfo...
26      Dem babies. Beyoncé Posted A New Photo Shoot S...
27      H/T <a href="https://go.redirectingat.com?id=7...
28      Are you the type of person you think you are? ...
29      Relationship milestones: They friended your mu...
                              ...
1335    Bloodbath in the Dales? Shock double murder st...
1336    It’s not the World Cup, but it’s a start. Bast...
1337    'This may be the first time they have ever see...
1338    Learn from the GOATs. Get schooled online by c...
1339    Are guys ok? The New York Post's push alerts j...
1340    Please...talk to us. Things we wish our pets c...
1341    Hilarious! Even Russia's got jokes on April Fo...
1342    The ultimate prank is our reality!!! 12 tweets...
1343    Once-itinerant farmers build a sense of place ...
1344    Because they have to learn sometime. April Foo...
1345    Coming to a port near you. The first zero emis...
1346    Sorry, giraffe. Livestream of a pregnant cat i...
1347    Leave our childhoods ALONE. Hey Crayola, quit ...
1348    Very accurate and kind of scary. I made an exa...
1349    Our hearts go out to the city of Mocoa. Aerial...
1350    Henryk Ross risked his life to document Nazi a...
1351    An upcoming film exposes the gender gap in yet...
1352    "The Joy of Painting...and Parenthood" Couple ...
1353    Treat yoself to these weird predictions. All t...
1354    It's too soon for this, teens. 11 times teens ...
1355    A new Mummy for a more frightening world. 'The...
1356    Watch for the skyscraper-sized war elephant. G...
1357    Rematch! Rematch! Rematch! Justin Trudeau chal...
1358    Wandering the streets of the 'Black Belt.' Str...
1359    It is like I am there at the show with you, ye...
1360    In other news: 'Ghost in the Shell' bombed. 'B...
1361    "It’s going to affect you eventually." Tina Fe...
1362    Vin Diesel never looked so good. Vin Diesel la...
1363    The desert metropolis is a hotbed of skyscrape...
1364    "You just need to know how to smize..." Thank ...
Name: Whole, Length: 1365, dtype: object