In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split, cross_val_score

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv("featurextacted.csv")

In [3]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Clickbaits,bait,Length
0,0,0,Declassified records show American inaction du...,0,77
1,1,1,Indian Maoists blamed for the deaths of sixtee...,0,57
2,2,2,Yahoo!7 creates joint venture with Xtra,0,39
3,3,3,Only Solve This Puzzle If You Love Board Games,1,46
4,4,4,Three dead in murder-suicide shooting at South...,0,81

In [4]:
df.drop(["Unnamed: 0","Unnamed: 0.1"],axis=1,inplace=True)

In [5]:
df.head()

                                          Clickbaits  bait  Length
0  Declassified records show American inaction du...     0      77
1  Indian Maoists blamed for the deaths of sixtee...     0      57
2            Yahoo!7 creates joint venture with Xtra     0      39
3     Only Solve This Puzzle If You Love Board Games     1      46
4  Three dead in murder-suicide shooting at South...     0      81

In [6]:
X = df.drop("bait",axis=1)
y = df.bait

In [7]:
X.shape

(32000, 2)

In [8]:
y.shape

(32000,)

In [9]:
#Splitting the Data into Train and Test with 0.25 as test sets
X_train,X_test,y_train,y_test=train_test_split(X.Clickbaits,y,test_size=0.20,random_state=0)

In [10]:
#Using the Tfid Vectorizer because the size of the dataset is Large
vectorizer = TfidfVectorizer()
tfidf_train_x = vectorizer.fit_transform(X_train)

In [11]:
#Now using the Logistic Regression Algorithm
classifier = LogisticRegression()
classifier.fit(tfidf_train_x, y_train)

/home/prajwol/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [12]:
#After transform the test data will be stored as a float in case of TFID
tfidf_test_x = vectorizer.transform(X_test)
print(tfidf_test_x.shape)
tfidf_test_x

(6400, 20649)

<6400x20649 sparse matrix of type '<class 'numpy.float64'>'
	with 54130 stored elements in Compressed Sparse Row format>

In [13]:
#Finding the Accuracy Score for the Algorithm
accuracy = cross_val_score(classifier, tfidf_test_x, y_test, cv=5)
acc = accuracy.mean()
print(acc * 100)

95.06263312347907

/home/prajwol/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [14]:
#Enter anything to check its validity
print("Enter the sentence or phrase you want to validate: \n\n")
inpPhrase = [input()]
output = classifier.predict(vectorizer.transform(inpPhrase))
print("---------------------------------------------------------")
if output == 1:
    print("CLICKBAIT")
else:
    print("NOT a CLICKBAIT")
print("---------------------------------------------------------")

Enter the sentence or phrase you want to validate:



---------------------------------------------------------
NOT a CLICKBAIT
---------------------------------------------------------

In [15]:
output[0]

0

In [16]:
df.Clickbaits[3]

'Only Solve This Puzzle If You Love Board Games'

In [20]:
plt.scatter(y_train,)

TypeError: scatter() missing 1 required positional argument: 'y'