In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

/home/prajwol/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [3]:
df = pd.read_csv("dataset.csv")
df.head()

   Unnamed: 0                                         Clickbaits  bait
0           0  Declassified records show American inaction du...     0
1           1  Indian Maoists blamed for the deaths of sixtee...     0
2           2            Yahoo!7 creates joint venture with Xtra     0
3           3     Only Solve This Puzzle If You Love Board Games     1
4           4  Three dead in murder-suicide shooting at South...     0

In [7]:
df["Length"] = np.zeros((len(df["Clickbaits"]),1),dtype=int)
for i in range(len(df["Clickbaits"])):
    df["Length"][i] = len(df["Clickbaits"][i])
df["Length"]

/home/prajwol/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

0        77
1        57
2        39
3        46
4        81
         ..
31995    49
31996    46
31997    24
31998    60
31999    40
Name: Length, Length: 32000, dtype: int64

In [8]:
df.head()

   Unnamed: 0                                         Clickbaits  bait  Length
0           0  Declassified records show American inaction du...     0      77
1           1  Indian Maoists blamed for the deaths of sixtee...     0      57
2           2            Yahoo!7 creates joint venture with Xtra     0      39
3           3     Only Solve This Puzzle If You Love Board Games     1      46
4           4  Three dead in murder-suicide shooting at South...     0      81

In [9]:
df.to_csv("./featurextacted.csv")